@page
@model Rookie.Ecom.Customer.Pages.InvoiceDetailModel
@{
	ViewData["Title"] = "Invoice Detail";
}
<ul class="breadcrumb">
	<li><a href="index.html">Home</a> <span class="divider">/</span></li>
	<li class="active"> INVOICE DETAILS</li>
</ul>
<h3>  INVOICE DETAILS [ <small>3 Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
<hr class="soft" />

<table class="table table-bordered">
	<tr><th>Customer Info </th></tr>
	<tr>
		<td>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputCountry">Full Name </label>
					<div class="controls">
						@Model.order.User.Name
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputCountry">UserName </label>
					<div class="controls">
						@Model.order.User.UserName
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputCountry">AddressLine </label>
					<div class="controls">
						@Model.order.AddressLine
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputCountry">Phone </label>
					<div class="controls">
						@Model.order.Phone
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputCountry">Email </label>
					<div class="controls">
						@Model.order.User.Email
					</div>
				</div>
			</form>
		</td>
	</tr>
</table>

<table class="table table-bordered">
	<tr><th>Invoice Info </th></tr>
	<tr>
		<td>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputCountry">Id </label>
					<div class="controls">
						@Model.order.User.Id
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputCountry">Created date </label>
					<div class="controls">
						@Model.order.CreatedDate.ToString("dd-MM-yyyy")
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputCountry">UserName </label>
					<div class="controls">
						@(Model.order.Status == 1 ? "Pending" : "Done")
					</div>
				</div>
			</form>
		</td>
	</tr>
</table>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		@{decimal subTotal = 0;}
		@foreach (var item in Model.orderItems)
		{
			ProductPictureDto picture = @item.Product.ProductPictures.FirstOrDefault(pic => pic.IsDefault);
			string pictureName = picture == null ? "no-image.png" : picture.PictureUrl;
			<tr>
				<td> <img width="60" src="~/products/@pictureName" alt="" /></td>
				<td>@item.Product.Name</td>				
				<td>$@item.Price</td>
				<td>$@item.Quantity</td>
				<td>$@(item.Price * item.Quantity)</td>
			</tr>
			subTotal += (item.Price * item.Quantity);
		}

		<tr>
			<td colspan="6" style="text-align:right"><strong>TOTAL =</strong></td>
			<td class="label label-important" style="display:block"> <strong> $@subTotal </strong></td>
		</tr>
	</tbody>
</table>

<a asp-page="InvoiceManagement" class="btn btn-large"><i class="icon-arrow-left"></i> Invoice Management </a>