@page
@model Rookie.Ecom.Customer.Pages.ProductDetailModel
@{
	ViewData["Title"] = "Product Detail";
}

<ul class="breadcrumb">
	<li><a asp-page="index">Home</a> <span class="divider">/</span></li>
	<li class="active">Product Details</li>
</ul>
<div class="row">
	<div id="gallery" class="span3">
		<a href="~/product/@Model.pictureName" title="@Model.pictureName">
			<img src="~/product/@Model.pictureName" style="width:100%" alt="@Model.product.Name" />
		</a>
		<div id="differentview" class="moreOptopm carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					@foreach (var picture in Model.product.ProductPictures)
					{
						<a href="~/product/@picture.PictureUrl">
							<img style="width:29%" src="~/product/@picture.PictureUrl" alt="" />
						</a>
					}
				</div>
			</div>
		</div>

		<div class="btn-toolbar">
			<div class="btn-group">
				<span class="btn"><i class="icon-envelope"></i></span>
				<span class="btn"><i class="icon-print"></i></span>
				<span class="btn"><i class="icon-zoom-in"></i></span>
				<span class="btn"><i class="icon-star"></i></span>
				<span class="btn"><i class=" icon-thumbs-up"></i></span>
				<span class="btn"><i class="icon-thumbs-down"></i></span>
			</div>
		</div>
	</div>
	<div class="span6">
		<h3>@Model.product.Name  </h3>
		<small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
		<hr class="soft" />
		<form class="form-horizontal qtyFrm">
			<div class="control-group">
				<label class="control-label"><span>$@Model.product.Price</span></label>
				<div class="controls">
					<input type="number" class="span1" placeholder="Qty." />
					<button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
				</div>
			</div>
		</form>

		<hr class="soft" />
		<h4>100 items in stock</h4>
		<form class="form-horizontal qtyFrm pull-right">
			<div class="control-group">
				<label class="control-label"><span>Color</span></label>
				<div class="controls">
					<select class="span2">
						<option>Black</option>
						<option>Red</option>
						<option>Blue</option>
						<option>Brown</option>
					</select>
				</div>
			</div>
		</form>
		<hr class="soft clr" />
		<p>
			@Model.product.Desc
		</p>
		<a class="btn btn-small pull-right" href="#detail">More Details</a>
		<br class="clr" />
		<a href="#" name="detail"></a>
		<hr class="soft" />
	</div>

	<div class="span9">
		<ul id="productDetail" class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
			<li><a href="#profile" data-toggle="tab">Related Products</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="home">
				@Model.product.Detail
			</div>
			<div class="tab-pane fade" id="profile">
				<div id="myTab" class="pull-right">
					<a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
					<a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
				</div>
				<br class="clr" />
				<hr class="soft" />
				<div class="tab-content">
					<div class="tab-pane" id="listView">
						@if (Model.relatedProducts != null)
						{
							foreach (var product in Model.relatedProducts)
							{
								ProductPictureDto picture = @product.ProductPictures.FirstOrDefault(pic => pic.IsDefault);
								string pictureName = picture == null ? "no-image.png" : picture.PictureUrl;
								<div class="row">
									<div class="span2">
										<img src="~/products/@pictureName" alt="@product.Name" />
									</div>
									<div class="span4">
										<h3>New | Available</h3>
										<hr class="soft" />
										<h5>@product.Name </h5>
										<p>
											@product.Desc..
										</p>
										<a class="btn btn-small pull-right" asp-page="ProductDetail" asp-route-id="@product.Id">View Details</a>
										<br class="clr" />
									</div>
									<div class="span3 alignR">
										<form class="form-horizontal qtyFrm">
											<h3> $@product.Price</h3>
											<label class="checkbox">
												<input type="checkbox">  Adds product to compair
											</label><br />
											<div class="btn-group">
												<a asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
												<a asp-page="ProductDetail" asp-route-id="@product.Id" class="btn btn-large"><i class="icon-zoom-in"></i></a>
											</div>
										</form>
									</div>
								</div>
								<hr class="soft" />
							}
						}
					</div>
					<div class="tab-pane active" id="blockView">
						<ul class="thumbnails">
							@if (Model.relatedProducts != null)
							{
								foreach (var product in Model.relatedProducts)
								{
									ProductPictureDto picture = @product.ProductPictures.FirstOrDefault(pic => pic.IsDefault);
									string pictureName = picture == null ? "no-image.png" : picture.PictureUrl;
									<li class="span3">
										<div class="thumbnail">
											<a asp-page="ProductDetail" asp-route-id="@product.Id"><img src="~products/@pictureName" alt="" /></a>
											<div class="caption">
												<h5>@product.Name</h5>
												<p>
													@product.Desc
												</p>
												<h4 style="text-align:center"><a class="btn" asp-page="ProductDetail" asp-route-id="@product.Id"> <i class="icon-zoom-in"></i></a> <a class="btn" asp-page="Cart" asp-page-handler="buynow"  asp-route-id="@product.Id">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;@product.Price</a></h4>
											</div>
										</div>
									</li>
								}
							}
						</ul>
						<hr class="soft" />
					</div>
				</div>
				<br class="clr">
			</div>
		</div>
	</div>

</div>
